// Variable overrides

// qui vanno sovrascritte le variabili presenti in node_modules/@coreui/coreui/scss/variables/_colors.scss

$primary-dark:      #006837 !default;
$primary:           #39b54a !default;
$primary-50:        #8cc63f !default;
$primary-25:        #8cc63f !default;

$secondary-dark:    #0070c0 !default;
$secondary:         #0070c0 !default;
$secondary-50:      #0070c0 !default;
$secondary-25:      #0070c0 !default;
